PORT=5000

NODE_ENV=development

MONGO_DB_URI=mongodb+srv://ecobazar_admin:3xmYzh4w1MII68Jb@firstclasspractice.4562jwp.mongodb.net/ecobazar_database?appName=FirstClassPractice

JWT_ACCESS_SECRET=jwtsecrettokenpass
BREVO_SENDER_NAME=EcoBazar
BREVO_SENDER_EMAIL=shayanabdullahdev@gmail.com

FROM_EMAIL=shayanabdullahdev@gmail.com
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000




