PORT=5000

NODE_ENV=development

MONGO_DB_URI=mongodb+srv://ecobazar_admin:3xmYzh4w1MII68Jb@firstclasspractice.4562jwp.mongodb.net/ecobazar_database?appName=FirstClassPractice

JWT_ACCESS_SECRET=jwtsecrettokenpass
JWT_REFRESH_SECRET=your_refresh_secret
